
/* Fonts */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic);
    @font-face{
        font-family:    'BebasNeueRegular';
        src:            url('../../fonts/bebasneue-webfont.eot');
        src:            url('../../fonts/bebasneue-webfont.woff') format('woff'),
                        url('../../fonts/bebasneue-webfont.ttf') format('truetype'),
                        url('../../fonts/bebasneue-webfont.svg') format('svg');
        font-weight:    normal;
        font-style:     normal
    }
/* Fonts end */

section > header {
    /* Gives a white background to section headers */
    background-color:   white;
}

section > header > h1 {
    /* Styles the header's text */
    position:           relative;
    display:            block;
    font-family:        'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size:          86px;
    text-transform:     uppercase;
    font-weight:        400;
}

section:not(#home) > header > *, section:not(#home) > div > * {
    /* Positions the header to the center of the page */
    position:           relative;
    width:              100%;
    max-width:          960px;
    margin:             0 auto;
    padding:            0 20px
}

section:not(#home) > div {
    /* Gives a pattern background to all sections, except the home section */
    background:         #222 url(../../images/bg_pattern_black.jpg) ;
    background-image:   -Webkit-image-set(url(../../images/bg_pattern_black.jpg) 1x,
                        url(../../images/bg_pattern_black@2x.jpg) 2x);
    /* Colors the text white */
    color:              white;
}

.tagline {
    font-size:          20px;
    font-family:        'Open Sans',
                        'Helvetica Neue', Helvetica,
                        'Lucida Sans Unicode', 'Lucida Grande',
                        Arial, sans-serif;
    font-weight:        lighter;
    line-height:        1.5
}

/* Services section */
 #services > div > header > div {
    /* Adds padding above and below the title */
    padding-top:        54px;
    padding-bottom:     54px;
 }

/* For devices larger than 400px */
@media (min-width: 400px) {

    section:not(#home) > header > *, section:not(#home) > div > * {
        /* Header position */
        width:              85%;
        padding:            0
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {

    section:not(#home) > header > *, section:not(#home) > div > * {
        /* Header position */
        width:              80%
    }
}

/* Tablets */
@media only screen and (max-width:767px) {

    section > header > h1 {
        /* Section's header type size */
        font-size:          50px
    }

    /* Services section */
    #services > div > header > div {
        /* Adds padding above and below the title */
        padding-top:        49px;
        padding-bottom:     49px;
    }
}

/* Phones */
@media only screen and (min-width:480px) and (max-width:767px) {

    section > header > h1 {
        /* Section's header type size */
        font-size:          50px
    }

    /* Services section */
    #services > div > header > div {
        /* Adds padding above and below the title */
        padding-top:        49px;
        padding-bottom:     49px;
    }
}
