
/* Fonts */
@font-face{
    font-family:        'BebasNeueRegular';
    src:                url('../../fonts/bebasneue-webfont.eot');
    src:                url('../../fonts/bebasneue-webfont.woff') format('woff'),
                        url('../../fonts/bebasneue-webfont.ttf') format('truetype'),
                        url('../../fonts/bebasneue-webfont.svg') format('svg');
    font-weight:        normal;
    font-style:         normal
}

section > header {
    background-color:   white;
}

section > header > h1 {
    position:           relative;
    display:            block;
    font-family:        'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size:          86px;
    text-transform:     uppercase;
    font-weight:        400;
    width:              100%;
    max-width:          960px;
    margin:             0 auto;
    padding:            0 20px
}

section:not(#home) > div {
    background:         #222 url(../../images/bg_pattern_black.jpg) ;
    background-image:   -Webkit-image-set(url(../../images/bg_pattern_black.jpg) 1x,
                        url(../../images/bg_pattern_black@2x.jpg) 2x);
}

/* For devices larger than 400px */
@media (min-width: 400px) {

    section > header > h1 {
        width:          85%;
        padding:        0
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {

    section > header > h1 {
        width:          80%
    }
}

/* Tablets */
@media only screen and (max-width:767px) {

    section > header > h1 {
        font-size:      50px
    }
}

/* Phones */
@media only screen and (min-width:480px) and (max-width:767px) {

    section > header > h1 {
        font-size:      50px
    }
}
