
/* Fonts */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic);
    @font-face {
        font-family:    'BebasNeueRegular';
        src:            url('../../fonts/bebasneue-webfont.eot');
        src:            url('../../fonts/bebasneue-webfont.woff') format('woff'),
                        url('../../fonts/bebasneue-webfont.ttf') format('truetype'),
                        url('../../fonts/bebasneue-webfont.svg') format('svg');
        font-weight:    normal;
        font-style:     normal
    }
    @font-face {
        font-family:    'OswaldRegular';
        src:            url('../../fonts/oswald-webfont.eot');
        src:            url('../../fonts/oswald-webfont.woff') format('woff'),
                        url('../../fonts/oswald-webfont.ttf') format('truetype'),
                        url('../../fonts/oswald-webfont.svg') format('svg');
        font-weight:    normal;
        font-style:     normal
    }
/* Fonts End */

body {
    background-color:   black;
}

h1, h2 {
    /* Styles the header's text */
    position:           relative;
    display:            block;
    font-family:        'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-transform:     uppercase;
    font-weight:        400;
}

section:not(#home) h1 {
    font-size:          86px;
}

section:not(#home) h2 {
    font-size:          44px;
}

section > header {
    /* Gives a white background to section headers */
    background-color:   white;
}

section:not(#home) > header > *, section:not(#home) > div > * {
    /* Positions the header to the center of the page */
    position:           relative;
    width:              100%;
    max-width:          960px;
    margin:             0 auto;
    padding:            0 20px
}

section:not(#home) > div {
    /* Gives a pattern background to all sections, except the home section */
    background:         #222 url(../../images/bg_pattern_black.jpg) ;
    background-image:   -Webkit-image-set(url(../../images/bg_pattern_black.jpg) 1x,
                        url(../../images/bg_pattern_black@2x.jpg) 2x);
    /* Colors the text white */
    color:              white;
}

.tagline {
    font-size:          20px;
    font-family:        'Open Sans',
                        'Helvetica Neue', Helvetica,
                        'Lucida Sans Unicode', 'Lucida Grande',
                        Arial, sans-serif;
    font-weight:        lighter;
    line-height:        1.5
}
/* Navigation Bar */
    .active {
        color:              rgb(239, 61, 66);
    }
    nav {
        margin:             0 auto 20px;
        position:           fixed;
        top:                50px;
        right:              50px;
        background-color:   rgba(17, 17, 17, 0.5);
        z-index:            1;
    }
    nav ul {
        padding:            0;
        margin:             0;
    }
    nav li {
        position:           relative;
        float:              left;
        list-style-type:    none;
        margin-bottom:      0;
    }
    nav li a {
        display:            block;
        padding:            10px 15px;
        line-height:        18px;
        text-decoration:    none;
        /* Text styling */
        color:              white;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          18px;
        text-align:         center;
        text-transform:     uppercase;
        font-weight:        400;
    }
    nav li a:hover {
        outline:            none;
        text-decoration:    none;
        color:              rgb(239, 61, 66);
        cursor:             pointer;
    }
    nav a span {
        display:            block;
        float:              right;
        margin-left:        5px;
    }
    nav ul ul {
        display:            none;
        margin:             0;
        position:           absolute;
        left:               0;
        background:         rgba(17, 17, 17, 0.5);
    }
    nav ul ul li {
        float:              none;
    }
    nav ul ul a {
        padding:            5px 10px;
        font-size:          14px;
        text-align:         left;
    }
    #underlay {
        width:              100%;
        height:             68px;
        z-index:            1;
        display:            none;
        position:           fixed;
        background-color:   rgb(17, 17, 17);
    }
    #scrollTop {
        position:           fixed;
        width:              30px;
        height:             30px;
        left:               50px;
        overflow:           hidden;
        display:            inline-block;
        float:              left;
        background:         #222 url(../../images/sprite.png);
        background-image:   -Webkit-image-set(
                                url(../../images/sprite.png) 1x,
                                url(../../images/sprite@2x.png) 2x);
        background-position:100% 0;
        background-repeat:  no-repeat;
        margin-top:         17px;
        cursor:             pointer;
        z-index:            9999999997;
        -webkit-border-radius:20px;
        -moz-border-radius: 20px;
        border-radius:      20px
    }
    #scrollTop:hover {
        background-color:   #ef3d42;
        background-position:100% -20px
    }
/* Navigation Bar End */

/* Home Section */
    #home #logo {
        width:              100%;
        height:             100vh;
        max-width:          960px;
        margin:             0 auto;
    }
    #home #logo img {
        position:           absolute;
        top:                0;
        max-width:          190px;
        height:             auto;
    }
    #home #social {
        position:           fixed;
    }
    #home #social div > p {
        visibility:         hidden;
    }
    #home #social span.addthis_follow_label {
        visibility:         hidden;
    }
    #home #tags div {
        text-transform:     uppercase;
        font-weight:        400;
        font-family:        'BebasNeueRegular', Arial, Helvetica, sans-serif;
    }
    #home #pauseplay {
        right:              150px;
        bottom:             54px;
        position:           absolute;
        opacity:            0.6;
        cursor:             pointer;
    }
    #home #pauseplay:hover {
        opacity:            1.0
    }
    #home #slideshownavigation ul {
        position:           absolute;
        right:              0;
        top:                50%;
    }
    #home #slideshownavigation ul li {
        color:              white;
        list-style:         none;
        margin:             0;
        background-color:   black;
        width:              36px;
        height:             36px;
        text-align:         center;
        line-height:        36px;
        cursor:             pointer;
    }
    #home #slideshownavigation ul li:hover {
        color:              black;
        background-color:   white;
    }
    #home #slideshownavigation .active {
        background-color:   rgb(239, 61, 66);
    }
    #home #slideshownavigation .active:hover {
        color:              white;
        background-color:   rgb(239, 61, 66);
    }
    #home #slideshownavigation .active:after {
        right:              100%;
        border:             solid transparent;
        content:            " ";
        height:             0;
        width:              0;
        position:           absolute;
        border-right-color: rgb(239, 61, 66);
        border-width:       18px;
}
/* Home Section End */

/* Services Section */
    #services .tagline {
        /* Adds padding above and below the title */
        padding-top:        54px;
        padding-bottom:     54px;
    }

    #services > div > div {
        display:            flex;
        flex-wrap:          wrap;
        justify-content:    space-around;
    }

    .service {
        width:              160px;
        height:             220px;
        padding:            15px;
        text-decoration:    none;
    }

    .service img, .service source {
        /* Circle styling */
        background-color:   #1a1a1a;
        border-radius:      100%;
        width:              160px;
        height:             160px;
    }

    .service > span {
        /* Text styling */
        color:              white;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          18px;
        text-transform:     uppercase;
        font-weight:        400;
        /* Text positioning */
        display:            block;
        text-align:         center;
        margin-top:         175px;
    }

    .back > div {
        text-align:         center;
        height:             160px;
        width:              160px;
    }
    .back > div > span {
        /* Text styling */
        color:              white;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          18px;
        font-weight:        400;
        /* Positioning */
        display:            block;
        position:           relative;
        top:                -115px;
    }

    .fancybox-title {
        /* Text styling */
        color:              #d5d5d5;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          18px;
        font-weight:        400;
        width:              inherit;
    }
/* Services Section End */

/* Clients Section */
    #clients .parallax {
        background:             url(../img/parallax_overlay.svg),
                                url(../../images/background/image1.jpg);
        background-attachment:  scroll, fixed;
        background-size:        1px 1px, 100%;
        background-repeat:      repeat, repeat-y;
    }

    #clients > div > div {
        display:            flex;
        flex-wrap:          wrap;
        justify-content:    space-around;
    }

    #clients img {
        margin:             50px 0;
    }
/* Clients Section End */

/* Portfolio Section */

    #portfolio header div span {
        color:              #000;
        text-transform:     uppercase;
        font-weight:        400;
        line-height:        1.3;
        font-family:        'BebasNeueRegular', Arial, Helvetica, sans-serif;
        font-size:          86px;
        display:            block;
    }
    #portfolio header div span:first-child {
        color:              #d5d5d5;
    }

    .gallery-close-button {
        content:            ' ';
        width:              40px;
        height:             40px;
        cursor:             pointer;
        background:         transparent url(../../images/next_previous_button_white.png);
        background-image:   -Webkit-image-set(
                                url(../../images/next_previous_button_white.png) 1x,
                                url(../../images/next_previous_button_white@2x.png) 2x
                            );
        background-position: 50% 0;
        background-repeat:  no-repeat;
    }
    #vegasDetail {
        float:              left;
        width:              640px;
        height:             450px;
        margin:             10px;
    }
    #infoDetail {
        float:              left;
        width:              280px;
        height:             450px;
        margin:             10px;
    }
    #infoDetail .title {
        color:              #eee;
        text-transform:     uppercase;
        font-weight:        400;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          22px;
    }

    .gallery-option {
        float:              right;
        margin:             15px;
        /* Text styling */
        color:              white;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          16px;
        text-decoration:    none;
        text-transform:     uppercase;
        font-weight:        400;
    }

    .gallery {
        overflow-x:         hidden;
        overflow-y:           auto;
    }

    .gallery-item {
        width:              230px;
        height:             auto;
        float:              left;
        margin:             5px;
        cursor:             pointer;
    }

    .gallery-item img {
        width:              inherit;
    }

    .gallery-item span {
        /* Text styling */
        color:              white;
        font-family:        'OswaldRegular', Arial, Helvetica, sans-serif;
        font-size:          16px;
        text-decoration:    none;
        text-transform:     uppercase;
        font-weight:        400;
    }
/* Portfolio Section End */

/* Timeline Section */
    #timeline .parallax {
        background:             url(../img/parallax_overlay.svg),
                                url(../../images/background/image2.jpg);
        background-attachment:  scroll, fixed;
        background-size:        2px 2px, 100%;
        background-repeat:      repeat, repeat-y;
    }

    #timeline > div {
        padding:            50px;
    }

    #timeline > div > div {
        overflow:           auto;
    }
    #timeline > div > div > div {
        width:              49%;
    }
    #twitter {
        float:              left;
    }
    #facebook {
        float:              right;
    }
/* Timeline Section End */

/* Video Section */
    #sample_video .parallax {
        background:             url(../img/parallax_overlay.svg),
                                url(../../images/background/image3.jpg);
        background-attachment:  scroll, fixed;
        background-size:        2px 2px, 100%;
        background-repeat:      repeat, repeat-y;
    }
    #sample_video div img, #sample_video div iframe {
        margin-top:         15px;
        margin-bottom:      15px;
    }
/* Video Section End */

/* About Us Section */
    section#aboutus > div {
        padding-bottom:     50px;
        width:              inherit;
        overflow:           auto;
    }

    section#aboutus > div > header, section#aboutus > div > div {
        padding-top:        50px;
    }

    section#aboutus > div > div {
        width:              inherit;
    }

    section#aboutus > div > div > div {
        float:              left;
        width:              45%;
        padding:            10px;
    }
    section#aboutus > div > div > div:last-child {
        float:              right;
    }
/* About Us Section End */

/* Contact Us */
    #contactus .parallax {
        background:             url(../img/parallax_overlay.svg),
                                url(../../images/background/image4.jpg);
        background-attachment:  scroll, fixed;
        background-size:        2px 2px, 100%;
        background-repeat:      repeat, repeat-y;
    }
    #contactus > div > div {
        background:             #222 url(../../images/bg_pattern_black.jpg) ;
        background-image:       -Webkit-image-set(
                                    url(../../images/bg_pattern_black.jpg) 1x,
                                    url(../../images/bg_pattern_black@2x.jpg) 2x
                                );
        display:                  flex;
        flex-wrap:                wrap;
        justify-content:          space-around;
    }
    #contactus > div > div > div {
        width:                  45%;
        float:                  left;
        padding-left:           25px;
        padding-top:            25px;
    }
    #contactus > div > div > div:last-child {
        float:                  right;
    }
    #contactus > div > div > div p {
        font-size:              13px;
        font-family:            'Open Sans',
                                'Helvetica Neue', Helvetica,
                                'Lucida Sans Unicode', 'Lucida Grande',
                                Arial, sans-serif;
        font-weight:            bold;
        line-height:            1.65;
        text-align:             right;
    }
    #contactus > div > div > div iframe {
        width:                  100%;
    }
/* Contact Us End */

/* Footer */
    footer.parallax {
        background:             url(../img/parallax_overlay.svg),
                                url(../../images/background/image4.jpg);
        background-attachment:  scroll, fixed;
        background-size:        2px 2px, 100%;
        background-repeat:      repeat, repeat-y;
        padding-top:            50px;
    }
    footer div {
        width:              952px;
        height:             231px;
        background:         url(../../images/footer.png);
        color:              white;
        text-align:         center;
        margin:             0 auto;
        line-height:        231px;
    }
/* Footer End */

/* For devices larger than 400px */
@media (min-width: 400px) {

    section:not(#home) > header > *, section:not(#home) > div > * {
        /* Header position */
        width:              85%;
        padding:            0
    }
    #home #logo {
        width:              85%;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {

    section:not(#home) > header > *, section:not(#home) > div > * {
        /* Header position */
        width:              80%
    }
    #home #logo {
        width:              80%;
    }
}

@media only screen and (max-width:767px) {

    section:not(#home) > header > *, section:not(#home) > div > * {
        padding:            0;
    }

    /* Navigation Bar */
    .menuButton {
        background:         url('../img/menu.svg') no-repeat center;
        background-size:    30px;
        z-index:            1;
        position:           fixed;
        right:              0px;
        width:              68px;
        height:             68px;
    }

    nav ul {
        display:            none;
    }
    nav .showMenu {
        background-color:   rgb(17, 17, 17);
        display:            flex;
        flex-direction:     column;
        position:           fixed;
        top:                67px;
        left:               0;
        width:              100vw;
        padding-bottom:     15px;
    }
    nav .showMenu > li {
        width:              100vw;
        display:            flex;
        align-items:        flex-start;
        flex-wrap:          wrap;
    }
    nav .showMenu > li > div {
        flex-basis:         25%;
    }
    nav ul li .toggleSubMenu {
        background:         url('../img/arrow-down.svg') no-repeat center;
        background-size:    18px;
        width:              18px;
        height:             18px;
        padding:            10px 0;
    }
    nav ul li ul li {
        display:            none;
    }
    nav ul li .showSubMenu {
        background-color:   rgb(31, 31, 31);
        height:             38px;
        width:              100vw;
        display:            flex;
        flex-wrap:          wrap;
    }
    nav ul li .showSubMenu > li {
        width:              100%;
    }

    /* Section's header type size */
    section > header > h1 {
        font-size:          50px
    }

    /* Services section */
    #services > div > header > div {
        /* Adds padding above and below the title */
        padding-top:        49px;
        padding-bottom:     49px;
    }

    /* Portfolio section */
    #vegasDetail {
        width:              100%;
    }
    .gallery-item {
        width:              138px;
    }

    /* Timeline section */
    #timeline > div > div {
        padding:            25px;
        overflow:           auto;
    }
    #timeline > div > div > div {
        width:              50%;
        float:              left;
    }

    /* Video section */
    #sample_video div img, #sample_video div iframe {
        margin-top:         5px;
        margin-bottom:      5px;
        width:              100%;
    }

     /* About Us section */
    section#aboutus div {
        padding-bottom:     5px;
    }

    section#aboutus > div > header, section#aboutus > div > div {
        padding-top:        5px;
    }

    /* Footer section */
    footer div {
        width:              100%;
        height:             auto;
        /*background:         transparent;*/
    }
}
